<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/index.js"></script>
    <title>Beatsabr-League-Overlay</title>
</head>

<body>
    <div id="overlay">
        <header>
            <div class="Team-header red">
                <div><span class="title"> TEAM RED</span> <span class="teamScore">□□□□□□□</span></div>
                <div><span class="redteamName">배신자팀1</span></div>
            </div>
            <div class="Team-header title">캬루배 자낳대 시즌1</div>
            <div class="Team-header blue">
                <div><span class="teamScore">□□□□□□□</span> <span class="title">TEAM BLUE</span></div>
                <div><span class="blueteamName">배신자팀2</span></div>
            </div>
        </header>
        <footer>
            <div class="redTeam-group">
                <div class="redscoreBar"></div>
                <div class="score">
                    <div class="redAcc">
                        0
                    </div>
                    <div class="redScore">
                        0
                    </div>
                </div>
            </div>
            <div class="blueTeam-group">
                <div class="bluescoreBar"></div>
                <div class="score">
                    <div class="blueAcc">
                        0
                    </div>
                    <div class="blueScore">
                        0
                    </div>
                </div>
            </div>
            <div class="songInfo">
                <div class="songPicture">
                    <img src="https://as.cdn.beatsaver.com/8da5c5cf30d00ab10816a4612e80b1815423c3db.jpg" data="image/png;base64" alt="test">
                </div>
                <div class="info">
                    <ul>
                        <li>제목 - 소제목</li>
                        <li>작곡가 [맵퍼]</li>
                        <li>NJS - 22</li>
                        <li>BPM - 222</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>