<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Beatsabr-League-Overlay</title>
</head>

<body>
    <div id="overlay">
        <header>
            <div class="Team-header red">
                <div><span class="title"> TEAM RED</span> <span class="teamScore">□□□□□□□</span></div>
                <div><span class="redteamName">배신자팀1</span></div>
            </div>
            <div class="Team-header title">캬루배 자낳대 시즌1</div>
            <div class="Team-header blue">
                <div><span class="teamScore">□□□□□□□</span> <span class="title">TEAM BLUE</span></div>
                <div><span class="blueteamName">배신자팀2</span></div>
            </div>
        </header>
        <footer>
            <div class="redTeam-group">
                <div class="redscoreBar"></div>
                <div class="score">
                    <div class="redAcc">
                        0
                    </div>
                    <div class="redScore">
                        0
                    </div>
                </div>
            </div>
            <div class="blueTeam-group">
                <div class="bluescoreBar"></div>
                <div class="score">
                    <div class="blueAcc">
                        0
                    </div>
                    <div class="blueScore">
                        0
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);

        function ScoreChanged() {
            let redAcc = document.getElementsByClassName('redAcc')[0];
            let blueAcc = document.getElementsByClassName('blueAcc')[0];
            if (redAcc.innerHTML > blueAcc.innerHTML) {
                redAcc.style.fontSize = "2em";
                redAcc.style.opacity = "1";
                blueAcc.style.fontSize = "1.5em";
                blueAcc.style.opacity = ".8";
            } else if (redAcc.innerHTML < blueAcc.innerHTML) {
                redAcc.style.opacity = ".8";
                redAcc.style.fontSize = "1.5em";
                blueAcc.style.fontSize = "2em";
                blueAcc.style.opacity = "1";
            }
        }
        ScoreChanged();
        var ip = "localhost";
        var port = 30001;

        var socket = new WebSocket(`wss://${ip}:${port}`);

        socket.addEventListener("open", () => {
            console.log("WebSocket opened");
        });

        socket.onmessage = function(event) {
            console.log(`서버 웹소켓에게 받은 데이터: ${event.data}`);
            const obj = JSON.parse(event.data);
            document.getElementsByClassName("redAcc")[0].innerHTML = obj.redAcc;
            document.getElementsByClassName("redScore")[0].innerHTML = obj.redScore;
            document.getElementsByClassName("blueAcc")[0].innerHTML = obj.blueAcc;
            document.getElementsByClassName("blueScore")[0].innerHTML = obj.blueScore;
        }

        const setScore = urlParams.get('setscore');
        const redWin = urlParams.get('redwin');
        const blueWin = urlParams.get('bluewin');
        const blueteamName = urlParams.get('blueteamname');
        const redteamName = urlParams.get('redteamname');
        let scoreText = "";
        console.log(setScore);
        console.log(redWin);
        console.log(blueWin);
        for (let i = 0; i < setScore; i++) {
            if (i < redWin) {
                scoreText = scoreText.concat("■");
            } else {
                scoreText = scoreText.concat("□");
            }
        }
        document.getElementsByClassName("teamScore")[0].innerHTML = scoreText;
        scoreText = "";
        for (let i = setScore; i > 0; i--) {
            if (i <= blueWin) {
                scoreText = scoreText.concat("■");
            } else {
                scoreText = scoreText.concat("□");
            }
        }
        document.getElementsByClassName("redteamName")[0].innerHTML = blueteamName;
        document.getElementsByClassName("blueteamName")[0].innerHTML = redteamName;
    </script>
</body>

</html>