@import url(./font.css);
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'yg-jalnan';
}

#overlay {
    position: relative;
    display: flex;
    width: 1280px;
    color: white;
    height: 720px;
}

header {
    padding: 10px;
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 32px;
}

.Team-header {
    width: 33%;
}

.Team-header.title {
    text-align: center;
    font-size: 1.5em;
}

.Team-header.red {
    text-align: left;
    line-height: 45px;
}

.Team-header.blue {
    text-align: right;
    line-height: 45px;
}

.Team-header.red .title {
    border-radius: 5px;
    padding: 10px;
    background-color: darkred;
}

.Team-header.blue .title {
    border-radius: 5px;
    padding: 10px;
    background-color: darkblue;
}

.teamScore {
    font-size: 1.2em;
}

.teamName {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.Score {
    font-size: 1.4em;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    padding: 10px 0 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.redTeam-group {
    width: 50%;
    text-align: right;
    padding-right: 10px;
}

.blueTeam-group {
    width: 50%;
    text-align: left;
    padding-left: 10px;
}

.blueTeam-group .blueAcc {
    font-size: 1.5em;
}

.redTeam-group .redAcc {
    font-size: 1.5em;
}

.blueTeam-group .blueScore {
    font-size: 1em;
    opacity: .5;
}

.redTeam-group .redScore {
    font-size: 1em;
    opacity: .5;
}

.songInfo {
    background: rgba(0, 0, 0, .7);
    width: 100%;
    display: flex;
    padding: 20px 0 10px 0;
    margin-top: 10px;
}

.songInfo .songPicture {
    width: 50%;
    text-align: right;
    padding-right: 10px;
}

.songInfo .info {
    width: 50%;
    text-align: left;
    padding-left: 10px;
    font-size: .8em;
    line-height: 22px;
}

.songInfo .songPicture img {
    border-radius: 10px;
    width: 110px;
}

li {
    list-style: none;
}